*{
    font-family: Calibri;
    margin: 0;
    padding: auto;
}

.centred{
    text-align: center;
}

header{
    background-color: aquamarine;
}

h1{
    padding: 30px;
}

nav{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav>p{
    margin: 10px;
}

nav>p>a{
    color: white;
}

main{
    display: flex;
    flex-direction: row;
}

.column{
    padding: 10px;
}

#column-1{
    width: 800px;
    background-color: whitesmoke;
}

.image-box{
    background-color: rgb(172, 172, 172);

    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    height: 50px;
}

footer{
    padding: 30px;
    background-color: rgb(179, 255, 230);
}

@media(max-width: 800px){
    main{
        flex-direction: column;
    }

    #column-1{
        width: 100%;
    }

    nav{
        padding: 5px;
        flex-direction: column;
    }

    nav>p{
        margin: 0 10px;
    }
}

