*{
    margin: 0;
}

.car{
    width: 250px;
    height: 250px;

    position: absolute;
    top: 0;
    left: 0;

    animation-name: car;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 10ms;

}

@keyframes car {
    0%{
        transform: translate(0px,15px) rotate(45deg);
    }

    5%{
        transform: translate(0px,120px) rotate(0deg);
    }

    20%{
        transform: translate(0px,600px) rotate(0deg);
    }

    25%{
        transform: translate(0px,750px) rotate(-45deg);
    }

    30%{
        transform: translate(154px,750px) rotate(-90deg);
    }

    45%{
        transform: translate(616px,750px) rotate(-90deg);
    }

    50%{
        transform: translate(770px,750px) rotate(-135deg);
    }

    55%{
        transform: translate(770px,600px) rotate(-180deg);
    }

    70%{
        transform: translate(770px, 150px) rotate(-180deg);
    }

    75%{
        transform: translate(770px,0px) rotate(-225deg);
    }

    80%{
        transform: translate(616px, 10px) rotate(-270deg);
    }

    95%{
        transform: translate(154px,0px) rotate(-270deg);
    }

    100%{
        transform: translate(0px,15px) rotate(-315deg);
    }
}